h1 {
  text-align: center;
  color: #CC99CC;
  font-family: helvetica;
}

h2 {
  color: #2a2a2a;
  font-family: helvetica;
}

header {
  height: 100px;
  background: #333;
  margin: 0px auto;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: garamond;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {
  background-color: #555;
}


.listOils {
  color: #72587F;
  font-family: garamond;
}

.border {
  border: 3px;
  border-style: solid;
  border-color: black;
  padding: 15px;
  width: 200px;
  height: 400px;
  overflow: scroll;
}

.mainPageBody {
  color: #72587F;
  font-family: garamond;
}