h1 {
  color: grey;
  font-family: helvetica;
}

h2 {
  color: #2a2a2a;
  font-family: helvetica;
}

header {
  height: 60px;
  background: #D8BFD8;
  margin: 0px auto;
}

.listOils {
  color: #72587F;
  font-family: garamond;
}

.border {
  border: 3px;
  border-style: solid;
  border-color: black;
  padding: 15px;
  width: 200px;
  height: 400px;
  overflow: scroll;
}